@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="light"] {
    --body-bgColor : #ffffff;
    --bg-color : #ffffff;         
    --menu-bgColor: #ffffff;
    --heading-color: #111827;
    --para-Color: #374151;
    --text-Color: #374151;
}
[data-theme="dark"] {
    --body-bgColor : #121212;
    --bg-color: #1e293b;
    --menu-bgColor: #374151;
    --heading-color: #ffffff;
    --text-color: #e5e7eb;
    --para-color: #9ca3af;
}

.body{
    background: var(--body-bgColor);
}